*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  color: #4a4b5e;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(to bottom, #af67e9, #6565e7);
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  min-width: 27rem;
  width: 85%;
  background-color: #fff;
  border-radius: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 85rem;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
}

.attribution a {
  color: #3e52a3;
}

.faq {
  list-style: none;
  padding: 4rem 2.5rem;
}

@media only screen and (min-width: 768px) {
  .faq {
    width: 50%;
    padding: 5rem;
    padding-left: 0;
  }
}

.faq__title {
  font-size: 3rem;
  color: #1d1e35;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 8.5rem;
}

@media only screen and (min-width: 768px) {
  .faq__title {
    text-align: left;
    margin-top: unset;
  }
}

.faq__item {
  padding: 1.5rem 0;
  border-bottom: 1px solid #e7e7e9;
  position: relative;
}

.faq__question {
  font-size: 1.4rem;
  padding-right: 2rem;
  -webkit-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

@media (hover: hover) {
  .faq__question:hover {
    color: #f47c57;
    cursor: pointer;
  }
}

.faq__question--active {
  color: #1d1e35;
  font-weight: 700;
}

.faq__answer {
  color: #787887;
  line-height: 1.6;
  padding-right: 2rem;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

.faq__answer--active {
  margin-top: 1rem;
}

.show-btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 1.5rem;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.show-btn--active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.illustration {
  width: 25rem;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .illustration {
    width: 100%;
    max-width: 32rem;
  }
}

.illustration--main, .illustration--shadow {
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .illustration--main, .illustration--shadow {
    left: -5rem;
  }
}

.illustration--main img, .illustration--shadow img {
  width: 100%;
  height: auto;
  display: block;
}

.illustration--main {
  z-index: 2;
  top: -10rem;
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
}

@media only screen and (min-width: 768px) {
  .illustration--main {
    top: unset;
    -webkit-transform: translate(-17%, -50%);
            transform: translate(-17%, -50%);
  }
}

.illustration--shadow {
  z-index: 1;
  top: 0;
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

@media only screen and (min-width: 768px) {
  .illustration--shadow {
    top: unset;
    -webkit-transform: scale(1.65) translate(-30%, -35%);
            transform: scale(1.65) translate(-30%, -35%);
  }
}

.box {
  display: none;
}

@media only screen and (min-width: 768px) {
  .box {
    display: block;
    position: fixed;
    width: 15rem;
    height: 15rem;
    z-index: 100;
    left: 0;
    top: 52%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media only screen and (min-width: 992px) {
  .box {
    left: 12.9rem;
    left: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .box {
    left: 15.5%;
  }
}
/*# sourceMappingURL=main.css.map */