.container {
  min-width: 27rem;
  width: 85%;
  background-color: #fff;
  border-radius: 2rem;
  position: relative;
  @include flexCenter;
  flex-direction: column;

  @media only screen and (min-width: $bp-md) {
    max-width: 85rem;
    overflow: hidden;
    flex-direction: row;
  }
}

// footer
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}
