// COLORS
$color-primary-text-blue: hsl(238, 29%, 16%);
$color-primary-text-red: hsl(14, 88%, 65%);

$color-bg-violet: hsl(273, 75%, 66%);
$color-bg-blue: hsl(240, 73%, 65%);

$color-neutral-gray-dark: hsl(237, 12%, 33%); // text
$color-neutral-gray: hsl(240, 6%, 50%); // text
$color-neutral-gray-light: hsl(240, 5%, 91%); // divider

// FONT
$font-default: 'Kumbh Sans', sans-serif;

// BREAKPOINTS
$bp-mobile: 375px;
$bp-desktop: 1440px;

$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
