.faq-container {
  width: 100%;

  @media only screen and (min-width: $bp-md) {
    width: 50%;
  }
}

.title {
  font-size: 3rem;
  color: $color-primary-text-blue;
  text-align: center;
  margin-top: 13rem;

  @media only screen and (min-width: $bp-md) {
    text-align: left;
    margin-top: 4rem;
    margin-bottom: -4rem;
  }
}

.faq {
  list-style: none;
  padding: 4rem 2.5rem;

  @media only screen and (min-width: $bp-md) {
    width: 100%;
    padding: 5rem;
    padding-left: 0;
  }

  &__item {
    padding: 1.5rem 0;
    border-bottom: 1px solid $color-neutral-gray-light;
    position: relative;
  }

  &__question {
    font-size: 1.4rem;
    padding-right: 2rem;
    transition: color 0.15s ease;

    &:hover {
      @media (hover: hover) {
        color: $color-primary-text-red;
        cursor: pointer;
      }
    }

    &--active {
      color: $color-primary-text-blue;
      font-weight: 700;
    }
  }

  &__answer {
    color: $color-neutral-gray;
    line-height: 1.6;
    padding-right: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    &--active {
      margin-top: 1rem;
    }
  }
}

// button
.show-btn {
  @include btnReset;
  position: absolute;
  right: 0;
  top: 1.5rem;
  transition: transform 0.3s ease-in-out;

  &--active {
    transform: rotate(180deg);
  }
}
